<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign Out Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--
<ion-card class="card">
  <ion-card-header>
    <ion-card-title>
      <h1>Check Out Form</h1>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>
            Name
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Enter name here" type="text" [(ngModel)]="name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1>
            Form
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Enter form here" type="text" [(ngModel)]="form"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1>
            Reason
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input placeholder="Enter reason here" type="text" [(ngModel)]="reason"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="buttoncolor" expand="block" (click)="signOutFunction()">Submit Sign Out</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
-->

<!-- Creates an ion-card in a white colour with an embedded Google Form with contrasting colours-->
<ion-card color="secondary">
  <p align="center">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScF5hRHPI9GKnGQo3vb-lRMbRtkoa4TYUP7Ua42LdRljOOaQg/viewform?embedded=true" style="width:90%; height:100vh; border:0;">Loading…</iframe></p>
</ion-card>
</ion-content>