ion-toolbar{
    --background:#8A2944;
}
ion-content{
    --ion-background-color:#8A2944;
}
ion-input{
    font-size: 25px;
    color: #8A2944;
}
.card {
    background-color: #FFFFFF
  }

  h1{
    color:#8A2944
}