   <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">Notices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Embeds the Google Drive folder so it can be accessed remotely by the user of the application-->
  <div align="center"><iframe style="width:90%; height:80vh; border:0;" src="https://docs.google.com/document/d/e/2PACX-1vTJ-cdXW0HFcnAg7bOGlctb7gjIkPZHFk8Bmq29Z4mzOX4u5LnP39UDHxDadojjTqY7hPB5skEYQ2gZ/pub?embedded=true"></iframe></div>
  <!-- This provides a link to the actual Google Docs so students are able to access it with view permission-->
  <ion-button color="secondary" (click)="noticeLink()" expand="block"> <h2>Link to the document</h2></ion-button>
</ion-content>
