ion-content{
    --ion-background-color:#8A2944;
}
h2{
    color: #8A2944;
}

ion-toolbar{
    --background:#8A2944;
    --ion-toolbar-color:#ffffff;

}

h1{
    color:#8A2944
}
ion-title{
    --ion-text-color:#8A2944
}
