<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">Documents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Sets up an ion card in the alternating colour to keep the colour scheme consistent-->
  <ion-card class="card">
    <ion-card-content>
  <p align="center">
    <!--Embedded google drive folder which displays all the documents to the end user in a list format-->
    <iframe src="https://drive.google.com/embeddedfolderview?id=1M31D0jqxXI2UdZqqhBsTzyPFgpoGRlv4#list" 
    style="width:100%; height:80vh; border:0;"></iframe>
    </p>
  
</ion-card-content>
</ion-card>
</ion-content>
